<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    </head>
    <body>
      <!--   {{ knp_menu_render('MenuBundle:Builder:mainMenu') }} -->
      
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            {{ knp_menu_render('MenuBundle:Builder:mainMenu') }}
        </div>
    </div>
    <div class="content" style="margin-top: 60px;">
       {% block body %}{% endblock %}

    </div>   

        {% block javascripts %}{% endblock %}
    </body>
</html>
